<h1>Stupid Coaching</h1>

<blockquote class="blockquote">
  <p><%= @question %></p>
  <footer class="blockquote-footer"><em>You</em></footer>
</blockquote>

<blockquote class="blockquote" style="background-color: #fffdd0; padding: 1rem; border-left: 4px solid #ccc;">
  <strong><%= @answer %></strong>
  <footer class="blockquote-footer mt-2"><em>Your coach</em></footer>
</blockquote>
